@import "partials/variables";
@import "partials/mixins";
@include google-font("Work+Sans");
body {
  background-color: $bg-color;
  font-family: $body-text-font;
  color: $body-text-color;
  height: $body-height;
  margin: $margin-body;
}

.container-fluid {
  margin: -50px 0 0 0;
}

.content-section {
  margin: 0 0 100px 0;
}

h1 {
  @include left-justify-text;
  font-size: $large-font-size;
  color: $header-text-color
}

h2,
h3,
h4,
h5,
h6 {
  @include left-justify-text;
  @include content-margins;
  font-family: $headline-font;
  color: $header-text-color;
}

p {
  @include default-body-text;
  @include left-justify-text;
  font-family: $body-text-font;
}

.navbar {
  background-color: $bg-color;
}

// ========================= GALLERY =========================
.gallery {
  display: table-cell;
  text-align: center;
  img {
    margin: 15px;
  }
}