@import url(https://fonts.googleapis.com/css?family=Work+Sans);
body {
  background-color: #000;
  font-family: "Work Sans", sans-serif;
  color: #FFF;
  margin: 175px 0 0 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 900px;
}

h1 {
  text-align: left;
  font-size: 55px;
  color: #FFF;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  margin: 20px auto 0 auto;
  font-family: "Work Sans", sans-serif;
  color: #FFF;
  line-height: 1.6;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  font-family: "Work Sans", sans-serif;
}

hr {
  border-top: 1px solid #4E5059;
}

#logo {
  width: 75px;
}

.navbar {
  background-color: #000;
  -webkit-box-shadow: 0 0px 10px 0px #000;
          box-shadow: 0 0px 10px 0px #000;
}

.footer {
  border-top: 1px solid #01F4FC;
  padding: 15px;
  height: 50px;
}

.footer p {
  font-size: 14px;
  color: #818181;
}

.footer span {
  color: #818181;
}

.footer li {
  display: inline;
  padding: 0 5px;
  font-size: 18px;
}

.footer .icons {
  text-align: right;
}

.footer .fab:hover {
  color: #F7EB5C;
}

.footer a {
  text-decoration: none;
}

.header-bg {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#65ffff), color-stop(#6086ee), to(#5f8aff));
  background-image: linear-gradient(to bottom right, #65ffff, #6086ee, #5f8aff);
  height: 375px;
  margin: -110px 0 100px 0;
}

.header-bg h1 {
  padding: 50px 0 0 0;
}

.header-bg:before {
  right: 50%;
  border-right: 1000px solid transparent;
}

.header-bg:after {
  left: 50%;
  border-left: 1000px solid transparent;
}

.header-bg:after,
.header-bg:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 100;
  /*  change the height and the color below */
  border-bottom: 175px solid #000;
}

#workSection {
  width: 850px;
  margin: 0;
}

.gallery-img {
  position: relative;
  margin: 0 12px 0 8px;
  display: inline-block;
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.gallery-img img {
  margin: 20px 15px;
}

.gallery-img .text {
  padding: 5px 15px;
}

.gallery-img .overlay {
  background: #000;
  position: absolute;
  height: 80%;
  width: 100%;
  left: 15px;
  top: 20px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.gallery-img:hover .overlay {
  opacity: 0.8;
}

.details {
  position: absolute;
  text-align: center;
  padding: 0 0 0 35px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.details .project-title {
  margin: -20px 0 0 0;
}

.details .project-subtitle {
  font-size: 14px;
  margin: 0;
}

.gallery-img:hover .details {
  top: 55%;
  left: 50%;
  opacity: 1;
  text-decoration: none;
  color: #F7EB5C;
}

#aboutSection {
  clear: both;
  margin: 100px 0 0 0;
}

.skills-chart {
  display: table;
  table-layout: fixed;
  width: 60%;
  max-width: 700px;
  height: 250px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(20%, rgba(255, 255, 255, 0.1)), color-stop(2%, transparent));
  background-image: linear-gradient(bottom right, rgba(255, 255, 255, 0.1) 20%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;
}

.skills-chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}

.skills-chart span {
  margin: 0 50px;
  display: block;
  background: rgba(209, 236, 250, 0.75);
  -webkit-animation: draw 1s ease-in-out;
          animation: draw 1s ease-in-out;
}

.skills-chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

.skills-chart .skill-name {
  font-size: 14px;
}

@-webkit-keyframes draw {
  0% {
    height: 0;
  }
}

@keyframes draw {
  0% {
    height: 0;
  }
}

#contactSection {
  clear: both;
  margin: 100px 0 0 0;
}

.work-details-btn a:link {
  color: #818181;
}

.work-details-btn a:visited {
  color: #818181;
}

.work-details-btn a:hover {
  text-decoration: none;
  color: #F7EB5C;
}

.details-content {
  margin: 0 auto 75px auto;
}

.details-content .img-col,
.details-content .txt-col {
  padding: 0;
}

.details-content .flat-img {
  margin: 27px 0 0 0;
}

.details-content .screen-img {
  margin: -10px 0 0 0;
}

.details-content img {
  margin: 0 0 35px 0;
  width: 90%;
}

.details-content .img-with-title {
  margin: 0;
}

.details-content .title {
  background-color: #FF0095;
}

.details-content .subtitle {
  font-size: 14px;
  margin: 10px 0 35px 0;
}

.details-content .subhead {
  margin: 0;
}

.details-content .inactive {
  color: #4E5059;
  margin: 0;
}

.details-content p {
  font-size: 14px;
  margin: 25px 0;
}

.details-content a:link {
  font-size: 14px;
  color: #818181;
}

.details-content a:visited {
  font-size: 14px;
  color: #818181;
}

.details-content a:hover {
  font-size: 14px;
  text-decoration: none;
  color: #F7EB5C;
}

@media screen and (max-width: 900px) {
  .timeline ul li .marker-content {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .marker-content {
    left: -289px;
  }
  #workSection {
    width: 425px;
    margin: 0 auto;
  }
  #workSection .gallery-img {
    text-align: center;
    vertical-align: middle;
  }
}

@media screen and (max-width: 600px) {
  .header-bg {
    height: 375px;
  }
  .header-bg h1 {
    font-size: 40px;
    padding: 30px 0 0 0;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .marker-content {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) .marker-content {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .marker-content::before {
    left: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent #FF0095 transparent transparent;
  }
}

@media screen and (max-width: 450px) {
  #workSection {
    width: 400px;
    margin: 0 0 0 -20px;
  }
  #workSection .gallery-img {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
  }
  #workSection .gallery-img .overlay {
    width: 350px;
    margin: 0 0 0 10px;
  }
  #workSection img {
    width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */