@import url(https://fonts.googleapis.com/css?family=Work+Sans);
body {
  background-color: #000;
  font-family: "Work Sans", sans-serif;
  color: #FFF;
  margin: 175px 0 0 0;
  height: 100%;
  max-width: 100%;
}

.main-container {
  margin: -110px 0 0 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 900px;
}

h1 {
  text-align: left;
  font-size: 55px;
  color: #FFF;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  font-family: "Work Sans", sans-serif;
  color: #FFF;
  line-height: 1.6;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  font-family: "Work Sans", sans-serif;
}

hr {
  border-top: 1px solid #4E5059;
}

#logo {
  width: 75px;
}

.note {
  font-size: 12px;
}

.navbar {
  background-color: #000;
  -webkit-box-shadow: 0 0px 10px 0px #000;
          box-shadow: 0 0px 10px 0px #000;
}

.nav-item a:hover {
  color: #F7EB5C !important;
}

.footer {
  border-top: 1px solid #01F4FC;
  padding: 15px;
  height: 50px;
}

.footer p {
  font-size: 14px;
  color: #818181;
}

.footer span {
  color: #818181;
}

.footer li {
  display: inline;
  padding: 0 5px;
  font-size: 18px;
}

.footer .icons {
  text-align: right;
}

.footer .fab:hover {
  color: #F7EB5C;
}

.footer a {
  text-decoration: none;
}

.header-bg {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#65ffff), color-stop(#6086ee), to(#5f8aff));
  background-image: linear-gradient(to bottom right, #65ffff, #6086ee, #5f8aff);
  height: 400px;
  margin: 0 0 100px 0;
}

.header-bg h1 {
  padding: 50px 0 0 0;
}

.header-bg .header-text {
  margin: 0 75px 0 0;
}

.header-bg #my-name {
  color: #F7EB5C;
}

.header-bg:before {
  right: 50%;
  border-right: 1000px solid transparent;
}

.header-bg:after {
  left: 50%;
  border-left: 1000px solid transparent;
}

.header-bg:after,
.header-bg:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 100;
  /*  change the height and the color below */
  border-bottom: 175px solid #000;
}

#workSection {
  width: 900px;
  margin: 0 auto;
}

.gallery-img {
  position: relative;
  margin: 0 10px;
  display: inline-block;
  width: 400px;
  text-align: center;
  vertical-align: middle;
}

.gallery-img .image {
  margin: 20px 15px;
}

.gallery-img .text {
  padding: 5px 15px;
}

.gallery-img .overlay {
  background: #000;
  position: absolute;
  height: 160px;
  width: 400px;
  left: 15px;
  top: 20px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.gallery-img:hover .overlay {
  opacity: 0.8;
}

.details {
  position: absolute;
  text-align: center;
  padding: 0 0 0 35px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.details .project-title {
  margin: -20px 0 0 0;
}

.details .project-subtitle {
  font-size: 14px;
  margin: 0;
}

.gallery-img:hover .details {
  top: 55%;
  left: 50%;
  opacity: 1;
  text-decoration: none;
  color: #F7EB5C;
}

#aboutSection {
  clear: both;
  margin: 50px 0;
}

.about-me {
  margin: 0 0 50px 0;
}

.about-me .title {
  width: 190px;
  margin: 0 0 15px 0;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

.about-me #my-face {
  width: 225px;
  display: block;
  margin: auto;
}

.me-summary {
  margin: auto;
}

.random-info {
  margin: 0 0 50px 0;
}

.random-info .title {
  width: 170px;
  margin: 0 0 15px 0;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

.random-list .list-item {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.random-list .list-item a:link {
  color: #818181;
}

.random-list .list-item a:visited {
  color: #818181;
}

.random-list .list-item a:hover {
  text-decoration: none;
  color: #F7EB5C;
}

.agency-list,
.brands-list {
  margin: 0 0 50px 0;
}

.agency-list .title {
  width: 312px;
  margin: 0 0 10px 0;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

.list-content p {
  margin: 0 0 10px 0;
}

.brands-list .title {
  width: 267px;
  margin: 0 0 10px 0;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

.skills-chart {
  margin: 0 0 50px 0;
}

.skills-title {
  width: 69px;
  margin: 0;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

.chart-labels {
  text-align: right;
  padding: 0 10px 0 0;
  margin: 36px 0 0 0;
}

.chart-labels .level-name {
  font-size: 14px;
  margin: 0 0 30px 0;
}

.chart-bars {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 900px;
  height: 250px;
  margin: 0 auto 25px auto;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #4E5059), color-stop(2%, transparent));
  background-image: linear-gradient(bottom, #4E5059 2%, transparent 2%);
  background-size: 100% 50px;
  background-position: left top;
}

.chart-bars li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}

.chart-bars span {
  font-size: 12px;
  margin: 0 20px;
  display: block;
  background: #FF0095;
  opacity: 0.65;
  -webkit-animation: draw 1s ease-in-out;
          animation: draw 1s ease-in-out;
}

.chart-bars span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  display: block;
  text-align: center;
  content: attr(title);
}

@-webkit-keyframes draw {
  0% {
    height: 0;
  }
}

@keyframes draw {
  0% {
    height: 0;
  }
}

#chart-note {
  font-size: 12px;
  color: #818181;
}

.skills-mobile-list {
  margin: 0 0 50px 0;
  display: none;
}

.skills-mobile-list .skill-level {
  padding: 0;
  margin: 10px 0;
}

.skills-mobile-list .skill-level .title {
  color: #FF0095;
  opacity: 0.8;
}

.other-skills-list .title {
  width: 265px;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

.other-skills-list .list {
  margin: 0;
}

#contactSection {
  clear: both;
  margin: 50px 0;
}

#contactSection a:link {
  color: #818181;
}

#contactSection a:visited {
  color: #818181;
}

#contactSection a:hover {
  text-decoration: none;
  color: #F7EB5C;
}

.contact-summary .title {
  width: 213px;
  margin: 0 0 10px 0;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

.contact-info .title {
  width: 191px;
  margin: 0 0 10px 0;
  padding: 0 0 0 3px;
  background-color: #FF0095;
}

#copy-btn {
  background-color: #000;
  color: #818181;
  border: none;
  padding: 0;
  margin: 5px 0 15px 0;
  cursor: pointer;
}

#copy-btn:hover {
  color: #F7EB5C;
}

.tooltip-inner {
  background-color: #000;
  color: #FFF;
  border: 1px solid #FF0095;
  padding: 5px;
  font-family: "Work Sans", sans-serif;
}

.tooltip .arrow::before {
  border-top-color: #FF0095;
  border-bottom-color: #FF0095;
}

.work-details-btn a:link {
  color: #818181;
}

.work-details-btn a:visited {
  color: #818181;
}

.work-details-btn a:hover {
  text-decoration: none;
  color: #F7EB5C;
}

.details-content {
  margin: 0 auto 75px auto;
}

.details-content .img-col,
.details-content .txt-col {
  padding: 0;
}

.details-content .flat-img {
  margin: 10px 0 0 0;
}

.details-content .screen-img {
  margin: -27px 0 0 0;
}

.details-content img {
  margin: 0 0 35px 0;
  width: 90%;
}

.details-content .img-with-title {
  margin: 0;
}

.details-content .title {
  background-color: #FF0095;
}

.details-content .subtitle {
  font-size: 14px;
  margin: 10px 0 35px 0;
}

.details-content .header,
.details-content .subhead {
  margin: 0;
}

.details-content .inactive {
  color: #4E5059;
  margin: 0;
}

.details-content p {
  font-size: 14px;
  margin: 25px 0;
}

.details-content a:link {
  font-size: 14px;
  color: #818181;
}

.details-content a:visited {
  font-size: 14px;
  color: #818181;
}

.details-content a:hover {
  font-size: 14px;
  text-decoration: none;
  color: #F7EB5C;
}

@media screen and (max-width: 900px) {
  .timeline ul li .marker-content {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .marker-content {
    left: -289px;
  }
  #workSection {
    width: 425px;
    margin: 0 auto;
  }
  #workSection .gallery-img {
    text-align: center;
    vertical-align: middle;
  }
}

@media screen and (max-width: 770px) {
  .skills-chart {
    display: none;
  }
  .skills-mobile-list {
    display: block;
  }
  .header-bg h1 {
    padding: 20px 0 0 0;
  }
}

@media screen and (max-width: 600px) {
  .header-bg {
    height: 375px;
  }
  .header-bg h1 {
    font-size: 40px;
    padding: 20px 0 0 0;
  }
  .header-bg p {
    font-size: 16px;
  }
  #workSection {
    width: 375px;
  }
  #workSection .gallery-img {
    width: 355px;
  }
  #workSection .gallery-img .image {
    width: 90%;
  }
  #workSection .gallery-img .overlay {
    width: 320px;
    height: 130px;
  }
}

@media screen and (max-width: 375px) {
  #workSection .gallery-img {
    width: 325px;
  }
  #workSection .gallery-img .image {
    width: 90%;
  }
  #workSection .gallery-img .overlay {
    width: 295px;
    height: 120px;
  }
}
/*# sourceMappingURL=style.css.map */