@import "partials/variables";
@import "partials/mixins";
@include google-font("Work+Sans");
body {
  background-color: $bg-color;
  font-family: $body-text-font;
  color: $body-text-color;
  margin: $margin-body;
  height: $body-height;
  max-width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  margin: -50px 0 0 0;
  padding: 0;
}

.container {
  max-width: 900px;
}

.content-section {
  margin: 0 0 100px 0;
}

.navbar {
  background-color: $bg-color;
}

h1 {
  @include left-justify-text;
  font-size: $large-font-size;
  color: $header-text-color;
}

h2,
h3,
h4,
h5,
h6 {
  @include left-justify-text;
  @include content-margins;
  font-family: $headline-font;
  color: $header-text-color;
  line-height: $default-line-height;
}

p {
  @include default-body-text;
  @include left-justify-text;
  font-family: $body-text-font;
}

// ================================= FOOTER ===================================
.footer {
  border-top: 1px solid $tertiary-color;
  padding: 15px;
  height: 50px;
  p {
    font-size: $small-font-size;
    color: $btn-text-color;
  }
  span {
    color: $btn-text-color;
  }
  li {
    display: inline;
    padding: 0 5px;
    font-size: $default-font-size;
  }
  .icons {
    text-align: right;
  }
  .fab:hover {
    color: $primary-color;
  }
  a {
    text-decoration: none;
  }
}



// ========================= ABOUT SECTION BACKGROUND =========================
.header-bg {
  position: relative;
  background-image: linear-gradient( to bottom right, #65ffff, #5f8aff);
  height: 450px;
  margin: -110px 0 150px 0;
  h1 {
    padding: 50px 0 0 0;
  }
}

/* big triangle */

.big-triangle:before {
  right: 50%;
  border-right: 1000px solid transparent;
}

.big-triangle:after {
  left: 50%;
  border-left: 1000px solid transparent;
}

.big-triangle:after,
.big-triangle:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  z-index: 100;
  /*  change the height and the color below */
  border-bottom: 175px solid $bg-color;
}

// ========================= GALLERY CONTENT =========================
#workSection {
  margin: 0 auto;
}

.gallery-img {
  position: relative;
  margin: 10px;
  float: left;
  width: 400px;
  img {
    margin: 20px 15px;
  }
  .text {
    padding: 5px 15px;
  } 
}

.gallery-img .overlay {
  background: #000;
  position: absolute;
  height: 80%;
  width: 100%;
  left: 15px;
  top: 20px;
  opacity: 0;
  -webkit-transition: $transition-time;
  -moz-transition: $transition-time;
  transition: $transition-time;
}

.gallery-img:hover .overlay {
  opacity: 0.8;
}

.details {
  position: absolute;
  text-align: center;
  padding: 0 0 0 35px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: $transition-time-quick;
  -moz-transition: $transition-time-quick;
  transition: $transition-time-quick;
}

.gallery-img:hover .details {
  top: 55%;
  left: 50%;
  opacity: 1;
  text-decoration: none;
  color: $secondary-color;
}

// @media screen and (max-width: 640px) {
//   .container {
//     display: block;
//     width: 100%;
//   }
// }
// @media screen and (min-width: 900px) {
//   .container {
//     width: 33.33333%;
//   }
// }

// ========================= RESUME CONTENT =========================
#aboutSection {
  clear: both;
}