@mixin google-font($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin center-text {
  text-align: center;
}

@mixin left-justify-text {
  text-align: left;
}

@mixin default-body-text {
  font: {
    size: $default-font-size;
  }
  line-height: $default-line-height;
}

@mixin small-body-text {
  font: {
    size: $small-font-size;
  }
  line-height: $default-line-height;
}

@mixin content-margins {
  margin: 20px auto;
}

@mixin title-style {
  padding: 0 0 0 3px;
  background-color: $primary-color;
}

@mixin content-link {
  a:link {
    color: $btn-text-color;
  }
  a:visited {
    color: $btn-text-color;
  }
  a:hover {
    text-decoration: none;
    color: $secondary-color;
  }
}