// ============================== COLORS ==============================
$bg-color: #000;
$body-text-color: #FFF;
$header-text-color: #FFF;
$text-highlight-color: #51ACCC;
$img-hover-opacity: 0.7;

// ============================== FONTS ==============================
$headline-font: 'Work Sans', sans-serif;
$body-text-font: 'Work Sans', sans-serif;
$default-font-size: 18px;
$small-font-size: 14px;
$large-font-size: 70px;
$default-line-height: 1.6;

// ============================== ANIMATIONS + THINGS ==============================
$border-radius: 3px;
$transition-time: 0.4;

// ============================== SIZES ===================================
$body-height: 100%;
$margin-body: 175px 0 0 0;
